.main-dashboard{
    height: 100%;
}

.left-pannel{
    background-color: white;
    height: 100%;
    padding: 1rem;
    justify-content: space-between;


}

.left-pannel > div:nth-child(2){
    border-top: 1px solid #e8e8e8;
    padding: 1rem 0;
}

.left-btns{
    
    button{
        padding: 0.5rem;
        text-align: left;
        letter-spacing: 1px;
        transition: all 0.1s ease-in;

        img{
            width: 1.25rem;
        }
    }
}

.active-left-btn{
    background-color: #232323;
    color: white;
    border-radius: 5px;
}